/* formatting for the forms */

/* text field inputs */
input {
    width: 100%;
    padding: 20px;
    border-radius:5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* form submit button */
input[type=button],
input[type=submit] {
    background-color: darkgray;
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

input[type=submit]:hover {
    background-color: #DE2110;
}