/* formatting for the forms */

/* text field inputs */
input {
    padding: 2%;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* form submit button */
input[type=button],
input[type=submit] {
    background-color: darkgray;
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

button:hover {
    background-color: darkred;
}