/* formatting the background rectangle element */
.rectangle {
    width: 50%;
    background-color: white;
    border-radius: 50px;
    position: relative;
    display: flex;
    padding-bottom: 100%;
    justify-content: center;
}