/* formatting any tables used */

th,
td {
    padding: 15px;
    background-color: #a8b996;
    font-family: "Consolas";
    align-items: center;
    max-width: 100%;

    /* sets the font size of the page if it is large enough */
    @media (min-width: 768px) {
        font-size: 25px;
    }
}